<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='assets/img/Adx.png')}}">
		
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}">

<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/font-awesome.min.css')}}">

<!-- Lineawesome CSS -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">

<!-- Select2 CSS -->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/select2.min.css')}}">

<!-- Datetimepicker CSS -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap-datetimepicker.min.css')}}">

<!-- Calendar CSS -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/fullcalendar.min.css')}}">

<!-- Main CSS -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">