 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="HR - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Reception Document</title>
		
		<!-- Favicon -->
        {%include '_query/style.html'%}
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
			{% include '_query/header.html'%}
			<!-- /Header -->
			
			<!-- Sidebar -->
            {% include '_query/sidebar.html'%}
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h1 class="text-center">Reception document</h1>
								<h3 class="page-title">{{session['nom']}}</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{{url_for('admin')}}">Accueil</a></li>
									<li class="breadcrumb-item active">Nouveau document</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									{% with messages = get_flashed_messages()%}
							{%if messages%}
								{%for i in messages %}
										<div class="alert alert-warning">{{i}}</div>
								{%endfor%}
							{%endif%}
						{%endwith%}

									<form method="post" action="/ecrire" enctype="multipart/form-data" enctype="multipart">
										
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Objet Document</label>
													<input type="text" placeholder="objet (sujet)" name="objet" class="form-control">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Attacher document scanne</label>
													<input type="file" placeholder="document" name="document" class="form-control">
												</div>
											</div>
										</div>
										
										
										<div class="row">
										
											<div class="col-md-6"> 
												<div class="form-group">
													<label>Destinataire</label>
												<select class="form-control" name="liste">
													{% for i in use %}
													<option value="{{i[0]}}">{{i[1]}}</option>
													{%endfor%}
												</select>
										
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Numero A/R</label>
													<input type="text" name="ref" value="{{ref}}" class="form-control">
												</div>
												
											</div>

												<!-- <div class="col-md-3">
												<div class="form-group">
													<label>Reference</label>
													<input type="text" name="refM"  class="form-control">
												</div>
												
											</div> -->
											
												
										</div>

										<div class="form-group"> 
											<label>Auteur du document</label>
											<input type="text" name="auteur" placeholder="Entrez l'auteur du document" class="form-control">
										</div>

										<div class="form-group">
											<label>Observation</label>
											<textarea rows="4" class="form-control summernote" name="commentaire" placeholder="Observation"></textarea>
										</div>

										<div class="form-group mb-0">
											<div class="text-center">
												<button class="btn btn-info"><span>Enregistrer</span> <i class="fa fa-send m-l-5"></i></button>
												<!-- <button class="btn btn-success m-l-5" type="button"><span>Draft</span> <i class="fa fa-floppy-o m-l-5"></i></button>
												<button class="btn btn-success m-l-5" type="button"><span>Delete</span> <i class="fa fa-trash-o m-l-5"></i></button> -->
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        {% include '_query/js.html'%}
		
    </body>
</html>