<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="HR - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Archives</title>
		
		<!-- Favicon -->
        {%include '_query/style.html'%}
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            {% include '_query/header.html'%}
			<!-- /Header -->
			
			<!-- Sidebar -->
            {% include '_query/sidebar.html'%}
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h1 class="text-center">Archiver un document</h1>
								<h3 class="page-title">{{session['nom']}}</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{{url_for('admin')}}">Accueil</a></li>
									<li class="breadcrumb-item active">Archive</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									{% with messages = get_flashed_messages()%}
							{%if messages%}
								{%for i in messages %}
										<div class="alert alert-warning">{{i}}</div>
								{%endfor%}
							{%endif%}
						{%endwith%}

									<form method="post" action="{{url_for('archiveEx')}}" enctype="multipart/form-data">
										
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Attacher document scanne</label>
													<input type="file"  name="archive" class="form-control" required>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>reference</label>
													<input type="text"  name="ref" class="form-control">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Numero A/R</label>
													<input type="text"   name="index" class="form-control" value="{{index}}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Auteur du document</label>
													<input type="text" placeholder="auteur archivage" name="auteur" class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Type du document</label>
													<select class="form-control" name="configuration">
														{% for i in listeT %}
														<option value="{{i[0 ]}}">{{i[1]}}</option>
														{%endfor%}
													</select>
												</div>
												
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label>Titre document</label>
													<input type="text" name="titre" placeholder="titre document" class="form-control">
												</div>
												
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>nature</label>
													<select class="form-control" name="nature">
														<option value="Externe">Externe</option>
														<option class="Interne">Interne</option>
													</select>
												</div>
												
											</div>
											
										</div>
										<div class="form-group">
											<label>Description du document</label>
											<textarea rows="4" class="form-control summernote" name="notification" placeholder="Description du document"></textarea>
										</div>
										<div class="form-group mb-0">
											<div class="text-center">
												<button class="btn btn-primary"><span>Archiver</span> <i class="fa fa-send m-l-5"></i></button>
												<!-- <button class="btn btn-success m-l-5" type="button"><span>Draft</span> <i class="fa fa-floppy-o m-l-5"></i></button>
												<button class="btn btn-success m-l-5" type="button"><span>Delete</span> <i class="fa fa-trash-o m-l-5"></i></button> -->
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        {% include '_query/js.html'%}
		
    </body>
</html>